<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="PrepublishScript" BeforeTargets="PrepareForPublish">
      <ItemGroup>
          <DocFile Include="bin\*\*\Api.xml" />
      </ItemGroup>
      <Copy SourceFiles="@(DocFile)" 
            DestinationFolder="$(PublishDir)" 
            SkipUnchangedFiles="false" />
  </Target>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9d4b17e8-9a7c-4bfa-bfba-83be2f778eaa/resourcegroups/Api20200710114540ResourceGroup/providers/Microsoft.Web/sites/chanepapitest-windows</ResourceId>
    <ResourceGroup>Api20200710114540ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://chanepapitest-windows.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>44f2df36-f450-4a8a-a5ff-9a8532b6f98d</ProjectGuid>
    <MSDeployServiceURL>chanepapitest-windows.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chanepapitest-windows</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chanepapitest-windows</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>

</Project>